{{define "functions"}}

function getResources(target, query) {
  if (query != '') {
    query = '?' + query;
  }
  var response = $.ajax({
    type: 'GET',
    url: '/' + target + query,
    dataType: 'json',
    contentType: 'application/json',
    async: false
  });
  var resultResources = $.parseJSON(response.responseText);
  var result = {
    status: response.status,
    resources: resultResources
  };
  return result;
}

function getResource(target, id, query) {
  if (query != '') {
    query = '?' + query;
  }
  var response = $.ajax({
    type: 'GET',
    url: '/' + target + '/' + id,
    dataType: 'json',
    contentType: 'application/json',
    async: false
  });
  var resultResource = $.parseJSON(response.responseText);
  var result = {
    status: response.status,
    resource: resultResource
  };
  return result;
}

function getResourceAsText(target, id, query) {
  if (query != '') {
    query = '?' + query;
  }
  var response = $.ajax({
    type: 'GET',
    url: '/' + target + '/' + id,
    dataType: 'json',
    contentType: 'application/json',
    async: false
  });
  var resultResource = response.responseText;
  var result = {
    status: response.status,
    resource: resultResource
  };
  return result;
}

function postResource(target, resource) {
  var response = $.ajax({
    type: 'POST',
    url: '/' + target,
    dataType: 'json',
    contentType: 'application/json',
    data: JSON.stringify(resource),
    async: false
  });
  var resultResource = $.parseJSON(response.responseText);
  var result = {
    status: response.status,
    resource: resultResource
  };
  return result;
}

function postModel(modelType) {
  var response = $.ajax({
    type: 'POST',
    url: '/node_types',
    dataType: 'json',
    contentTpe: 'application/json',
    data: JSON.stringify(modelType),
    async: false
  });

  return {
    status: response.status,
    response: $.parseJSON(response.responseText)
  };
}

function putResource(target, id, resource) {
  var response = $.ajax({
    type: 'PUT',
    url: '/' + target + '/' + id,
    dataType: 'json',
    contentType: 'application/json',
    data: JSON.stringify(resource),
    async: false
  });
  var resultResource = $.parseJSON(response.responseText);
  var result = {
    status: response.status,
    resource: resultResource
  };
  return result;
}

function deleteResource(target, id) {
  var response = $.ajax({
    type: 'DELETE',
    url: '/' + target + '/' + id,
    dataType: 'json',
    contentType: 'application/json',
    async: false
  });
  var resultResource = null;
  if (response.responseText != '') {
    resultResource = $.parseJSON(response.responseText);
  }
  var result = {
    status: response.status,
    resource: resultResource
  };
  return result;
}

function buildResouceMapFromResourceArray(resources) {
  var result = {};
  for (var i = 0; i < resources.length; i = i + 1) {
    var resource = resources[i];
    result[resource.id] = resource;
  }
  return result;
}

function convertSqlNullObject(nullValue, typeString, value) {
  var result = {};
  if (typeString == 'Int64') {
    result[typeString] = parseInt(value);
  } else {
    result[typeString] = value;
  }
  if (nullValue == value) {
    result['Valid'] = false;
  }
  else {
    result['Valid'] = true;
  }
  return result;
}

function convertStringToBoolean(value) {
  if (!value) {
    return false;
  }
  return (value.toLowerCase()) == 'true';
}

function convertBooleanToString(value) {
  if (!value) {
    return 'false';
  }
  return 'true';
}

function getUrlVars() {
  var vars = [], hash;
  var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
  for (var i = 0; i < hashes.length; i++) {
    hash = hashes[i].split('=');
    vars.push(hash[0]);
    vars[hash[0]] = hash[1];
  }
  return vars;
}
{{end}}
