{{define "network_edit_node"}}
<!-- Edit-Node Panel -->
<div class="panel-heading">
  <h3 class="panel-title">
    <span class="glyphicon glyphicon-edit"></span>
    {@title}
  </h3>
</div>
<div class="panel-body">
  <table class="table">
    <tr>
      <th width="20%"><span class="glyphicon glyphicon-file"></span> Property</th>
      <th width="80%"><span class="glyphicon glyphicon-pencil"></span> Value</th>
    </tr>
    <tr>
      <td width="20%">Node Name</td>
      <td width="80%"><input type="hidden" id="edit_node_id"><input id="edit_node_name" type="text" name="edit_node_name" placeholder="node name like router1" class="form-control"></span></td>
    </tr>
    <tr>
      <td width="20%">Physical/Virtual</td>
      <td width="80%"><select class="form-control" id="edit_node_pv"></select></span></td>
    </tr>
    <tr>
      <td width="20%">Node Type</td>
      <td width="80%"><select class="form-control" id="edit_node_type"></select></span></td>
    </tr>
  </table>
  <!-- Port-Destination Panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> Port - Destination</h1>
    </div>
    <div class="panel-body">
      <div class="pre-scrollable" id="edit_port">
      </div>
    </div>
    <div style="margin-left:10px;margin-bottom:10px;"><span class="input-group-btn">
      <button class="btn btn-default" id="edit_add_port_btn" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      <button class="btn btn-default" id="edit_delete_port_btn" type="button"><span class="glyphicon glyphicon-minus"></span></button>
      <button id="{@submit_button_id}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
      <button id="{@cancel_button_id}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
    </span></div>
  </div><!-- /Port-Destination Panel -->
</div>
{{end}}
