{{define "network_edit_port"}}
<div>
  <table class="table table-bordered">
    <tr>
      <td>
        <table class="table table-condensed table-striped">
          <tr>
            <th width=20%>Number</th>
            <th width=55%>Name</th>
            <th width=25%>Layer</th>
          </tr>
          <tr>
            <td><input type="hidden" id="edit_port_id_{@port_sequence}" name="edit_port_id" value="0"><input type="text" id="edit_port_number_{@port_sequence}" name="edit_port_number" placeholder="port number like 1" class="form-control"></td>
            <td><input type="text" id="edit_port_name_{@port_sequence}" name="edit_port_name" placeholder="port name like eth0" class="form-control"></td>
            <td><select class="form-control" id="edit_port_layer_{@port_sequence}" name="edit_port_layer"></select></td>
          </tr>
          <tr>
            <th colspan=3>Destination Port</th>
          </tr>
          <tr>
            <td colspan=4><select class="form-control" id="edit_port_destination_port_{@port_sequence}" name="edit_port_destination_port"></select></td>
          </tr>
          <tr>
            <th colspan=3>Mac Address</th>
          </tr>
          <tr>
            <td colspan=3><input type="text" id="edit_port_mac_address_{@port_sequence}" name="edit_port_mac_address" placeholder="mac address like 10:54:ff:00:00:01" value="" class="form-control"></td>
          </tr>
          <tr>
            <th colspan=2>IPv4 Address</th>
            <th colspan=1>IPv4 Prefix</th>
          </tr>
          <tr>
            <td colspan=2><input type="text" id="edit_port_ipv4_address_{@port_sequence}" name="edit_port_ipv4_address" placeholder="ipv4 address like 192.168.0.1" value = "" class="form-control"></td>
            <td colspan=1><input type="text" id="edit_port_ipv4_prefix_{@port_sequence}" name="edit_port_ipv4_prefix" placeholder="prefix like 24" value = "" class="form-control"></td>
          </tr>
          <tr>
            <th colspan=3>Remark</th>
          </tr>
          <tr>
            <td colspan=3><input type="text" id="edit_port_remark_{@port_sequence}" name="edit_port_remark" placeholder="remark" value="" class="form-control"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <hr>
</div>
{{end}}
