h1, h2, h3, h4, h5, h6 {
	color: black;
}

.checkbox-large input[type=checkbox] {
	transform:		scale(1.5);
}

#side-carousel img {
	margin: 0 auto;
}

.panel-custom {
	display: none;
}

.container-fluid-padding-header {
	position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
  height: 100%;
	padding:40px 20px 50px 20px;
}

.footer-blurb {
  padding: 30px 0;
  margin-top: 20px;
  background-color: #eee;
  color: black;
}

.footer-blurb-item {
  padding: 20px;
}

.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.small-print {
	text-align: center;
}

.alert {
  display: none;
  width: 300px;
  position: absolute;
  top: 30px;
  left: 50%;
  z-index: 5000;
  margin-left: -175px;
}

/* inet-henge */
.group rect { opacity: 0.5; }

.node,
.group rect { cursor: move; }

.node rect,
.group rect {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node text { font-size: 10px; }

.link {
  stroke: #888888;
  stroke-width: 2px;
  stroke-opacity: 1;
}

.path-label { font-size: 5px; }

.loopback,
.interface { fill: #333; }
